<div class="modal-header">
    <h4 class="modal-title">Add to Cart</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <p>Product: <b>{{curPrd.Name}}</b></p>
    <p>Stock: <b>{{curPrd.Stock}}</b></p>
    <label>Quantity:</label>
    <input type="number" class="form-control" [(ngModel)]="orderq">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="addPrd()">Add</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('close click')">Cancel</button>
</div>