.card {
    width: 100%
}

.newprd {
    margin: 5px
}

.card-header {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    left: 16px !important
}

#prdlen {
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px
}

tbody tr:hover {
    background-color: #f7d7e2
}

#cart:hover {
    cursor: pointer
}

#cart {
    background-color: lightgreen;
    margin-bottom: 10px;
    border-radius: 20px
}