.card {
    width: 100%
}

.newprd {
    margin: 5px
}

.card-header {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    left: 16px !important
}

#prdlen {
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px
}