<div class="modal-dialog modal-xl">

    <div class="modal-header ">
        <h4 class="modal-title">Cart</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group" *ngFor="let item of cartList">
            <p>{{item.product.Name}}</p>
            <input type="number" [(ngModel)]="item.qty">
        </div>
        <br>
        <button type="button" class="btn btn-success" (click)="editTo()" *ngIf="cartList.length">Edit</button>
        <div *ngIf="!cartList.length">
            <h2>Empty Cart</h2>
        </div>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-success" (click)="orderPlace()" *ngIf="cartList.length">Place Order</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeCart()">Close</button>
    </div>

</div>