.navbar {
    background-color: #e3f2fd;
}

#topbtn {
    bottom: 15px;
    right: 10px;
    position: fixed;
    z-index: 100;
    cursor: pointer
}

.nav-item.active>.nav-link {
    background-color: lightpink;
    color: #e3f2fd;
    border-radius: 5px;
    font-weight: 700
}