<nav class="navbar navbar-light navbar-toggleable-md">

    <a class="navbar-brand" href="#/">Angular2 Web App</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/manager">Manager Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/client">Client Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>

<br>
<div class="main-container container-fluid">
    <router-outlet></router-outlet>
</div>

<button id="topbtn" class="btn btn-secondary" *ngIf="showBtn" (click)="goTop()">
    <i class="fa fa-rocket" aria-hidden="true"></i>
    <br> Top
</button>