<p class="instruction">
    <i class="fa fa-star fa-2x" aria-hidden="true"> </i> Product Management App</p>
<p class="instruction">Please select the page you would like to visit</p>
<div class="row text-center">
    <div class="col-md-6">
        <a href="#/manager">
            <button type="button" class="btn btn-primary">Go to Manager Page</button>
        </a>

    </div>
    <div class="col-md-6">
        <a href="#/client">
            <button type="button" class="btn btn-success">Go to Client Page</button>
        </a>
    </div>
</div>
<hr>

<footer id="footer">
    Thank You for Visiting
</footer>