.card {
    width: 100%
}

.newprd {
    margin: 5px
}

.pointerstyle {
    cursor: pointer;
    text-decoration: underline !important;
    color: dodgerblue !important
}

.pointerstyle:hover {
    background-color: lightgoldenrodyellow;
    color: red !important
}

.stockhover:hover {
    background-color: mediumaquamarine;
    cursor: pointer
}

#listhead {
    top: 0;
    left: 16px !important;
    width: 100%;
    position: -webkit-sticky;
    position: sticky
}

#prdlen {
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px
}